doctype html
html
  head
    title Title Site
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/main.css")

  body

    .Home
      nav
        .container
          a(href="#") About

      p.tagline Hecho en Austin, Texas &hearts; Con Puro Pinche Amor

      h1.Brand-name
        span.Brand-name__first alex
        span.Brand-name__second rodr&iacute;guez
        img(src="/img/logo.png", alt="alex rdz skull")

      h2.Title.
        Front End Developer
        <br>
        &amp; UI Designer


      img(src="/img/icon-down-arrow.png", alt="icon arrow pointing downward")



    .Work
      .Portfolio.Portfolio__blue.grid-flex-container
        .grid-flex-cell.Portfolio--text
          .container
            h3 naseemrdz

            p this was a fun project but quite possibly the toughest client i could have. as you can probably guess, yes we are related. this site is a personal site for my wife, noreen naseem rodriguez. she is currently a PhD Candidate at UT Austin. the site serves as a repository for her work and writings as a graduate student and a continuing educator. she wanted an easy way to add information but more importantly, a way for others to access her work and all the information she has gathered. as an educator and future educator of educators (professor in education), it is important for her to provide helpful and useful resources to teachers and student teachers.

            p
              a(href="").button view project

        .grid-flex-cell.Portfolio--image
          img(src="/img/portfolio/naseemrdz.png", alt="naseemrdz website")




      .Portfolio.Portfolio__pink.grid-flex-container
        .grid-flex-cell.Portfolio--image
          img(src="/img/portfolio/naseemrdz.png", alt="naseemrdz website")

        .grid-flex-cell.Portfolio--text
          .container
            h3 the grumpy cooker

            p this was a fun project but quite possibly the toughest client i could have. as you can probably guess, yes we are related. this site is a personal site for my wife, noreen naseem rodriguez. she is currently a PhD Candidate at UT Austin. the site serves as a repository for her work and writings as a graduate student and a continuing educator. she wanted an easy way to add information but more importantly, a way for others to access her work and all the information she has gathered. as an educator and future educator of educators (professor in education), it is important for her to provide helpful and useful resources to teachers and student teachers.

            p
              a(href="").button view project




      .Portfolio.Portfolio__orange.grid-flex-container
        .grid-flex-cell.Portfolio--text
          .container
            h3 nuestra salud health clinic

            p this was a fun project but quite possibly the toughest client i could have. as you can probably guess, yes we are related. this site is a personal site for my wife, noreen naseem rodriguez. she is currently a PhD Candidate at UT Austin. the site serves as a repository for her work and writings as a graduate student and a continuing educator. she wanted an easy way to add information but more importantly, a way for others to access her work and all the information she has gathered. as an educator and future educator of educators (professor in education), it is important for her to provide helpful and useful resources to teachers and student teachers.

            p
              a(href="").button view project

        .grid-flex-cell.Portfolio--image
          img(src="/img/portfolio/naseemrdz.png", alt="naseemrdz website")






      .Portfolio.Portfolio__green.grid-flex-container
        .grid-flex-cell.Portfolio--image
          img(src="/img/portfolio/naseemrdz.png", alt="naseemrdz website")

        .grid-flex-cell.Portfolio--text
          .container
            h3 laredo examiners

            p this was a fun project but quite possibly the toughest client i could have. as you can probably guess, yes we are related. this site is a personal site for my wife, noreen naseem rodriguez. she is currently a PhD Candidate at UT Austin. the site serves as a repository for her work and writings as a graduate student and a continuing educator. she wanted an easy way to add information but more importantly, a way for others to access her work and all the information she has gathered. as an educator and future educator of educators (professor in education), it is important for her to provide helpful and useful resources to teachers and student teachers.

            p
              a(href="").button view project


    script(type="text/javascript", src="js/main.js")
