doctype html
html
  head
    title alex rodriguez
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/main.css")

  body.Portfolio-page



    .Hero.Hero--blue
      .Inner-brand
        h1.Brand-name
          span.Brand-name__first alex
          span.Brand-name__second rodr&iacute;guez
          img(src="img/logo.png", alt="alex rdz skull")


      nav
        button.Stackednav__button.hide-desktop
          .Stackednav__trigger.js-nav-trigger
            .Stackednav__bar
            .Stackednav__bar
            .Stackednav__bar
        a(href="#") Home
        a(href="#").about About
        a(href="#") Journal

      p.tagline Hecho en Austin, Texas &hearts; Con Puro Pinche Amor

      .container
        img(src="img/portfolio/naseemrdz.png", alt="naseemrdz website")



    .Content
      .Content--top
        .container
          h2.is-blue naseemrdz

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores dolores itaque quibusdam eaque, eius aspernatur sit enim aliquam quisquam velit amet nemo, sapiente maiores incidunt distinctio nam molestiae tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ipsam, molestiae porro, facilis, sint doloremque repellendus itaque esse vitae et iusto ducimus ipsa perspiciatis. Dolor natus, dignissimos animi voluptatum necessitatibus!

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam sed iusto porro quis distinctio adipisci sit officiis eos alias exercitationem similique recusandae facilis illo, expedita eligendi facere hic, quisquam?

          

      .Content--bottom
        .container
          img(src="img/portfolio/noreen-pages.png", alt="naseemrdz pages")


          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui facilis, omnis similique nulla, officia unde architecto accusamus ratione aperiam deleniti reprehenderit voluptatum dolor iure perspiciatis! Laborum consequatur et eveniet autem!

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem pariatur eos, consectetur aspernatur sapiente amet minus ad iusto, provident ullam deleniti tempore modi impedit vero accusamus nam voluptates mollitia similique. Aliquid soluta reiciendis officia facere! Inventore nesciunt quisquam at optio, sint soluta nobis qui. Autem enim consectetur, doloremque sed distinctio et. Eaque commodi dolorem ea sit omnis error eveniet, vel.
          p Exercitationem sed obcaecati recusandae blanditiis facilis aliquam culpa similique inventore quia repellat, nihil ad aut velit earum voluptatibus in, eum itaque, quibusdam quis reprehenderit vero. Assumenda autem error quo earum.





    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(type="text/javascript", src="js/main.js")
