//- Helpers
.hide-desktop
  display: none





//- Navigation
nav
  box-shadow: 0px -1px 14px rgba(0,0,0,0.3)
  height: 280px
  padding-top: 130px
  position: fixed
  right: 6em !important
  text-align: center
  text-transform: uppercase
  top: 0
  width: 180px
  a
    &:hover
      color: rgba($brown, 0.75)






//- Home Landing
.Home
  height: 100vh

.Brand-name
  &__first
      font-size: rem(98px)
      font-weight: normal
      letter-spacing: -11.61px
  &__second
    font-size: rem(40px)
    letter-spacing: -2.41px
    line-height: 45px
    margin: 0

.Title
  font-size: rem(36px)





.Portfolio-page
  .container
    width: 60%