//- Buttons
.button
  background-color: $blue
  font-family: $sans-serif
  &:hover
    background-color: darken($blue, 30%)



//- Type
body
  font-family: 'Libre Baskerville', serif
h1,h2,h3,h4,h5,h6
  font-family: 'Varela Round', sans-serif



//- Helpers
.grid-flex-container
  margin: 0 auto

.serif
  font-family: 'Libre Baskerville', serif
.sans-serif
  font-family: 'Varela Round', sans-serif

.hide-desktop
  display: block



//- Navigation
nav
  background: $red url('../img/menubg.png') 0 0 no-repeat
  background-size: cover
  height: 100vh
  position: fixed
  right: 200%
  z-index: 100
  transition()
  background-color: rgba($text, 0.85)
  padding-top: 300px
  position: fixed
  width: 100%
  
  a
    color: $white
    display: block
    font-family: $sans-serif
    font-size: rem(18px)
    padding: 10px

.is-active
  nav
    right: 0%













//- Home Landing

.Home
  background-color: $yellow
  text-align: center
  height: 100%

.tagline
  color: $white
  font-family: 'Varela Round', sans-serif
  font-size: rem(14px)
  padding: 15px 0 0

.Brand-name
  color: $text
  font-family: 'Libre Baskerville'
  
  span
    display: block

  &__first
    font-size: rem(68px)
    letter-spacing: -6.61px
    margin: 0px 0 -20px 0
  &__second
    font-size: rem(30px)
    letter-spacing: -2.41px



.Title
  color: rgba($text, 0.75)
  margin-top: -20px
  font-size: rem(20px)

  






//- Homepage Work
.Portfolio
  
  p
    line-height: 2
  
  .grid-flex-container
    align-items: center
    .grid-flex-cell
      display: flex
      min-height: 600px
      .container
        align-self: center
  
  .Portfolio__image
    padding-bottom: 1em
    &--right
      +above($breakpoint-tablet)
        order: 2
  
  //-------------------------------- blue
  &--blue
    border: 15px solid $blue
    h3
      color: $blue
    .Portfolio__image
      background-color: $blue
      background-image: url('../img/pajaro3.svg')
      background-position: -10% center
      background-repeat: repeat-y
      background-size: 130px 130px




  //-------------------------------- pink
  &--pink
    border: 15px solid $pink
    h3
      color: $pink    
    .Portfolio__image
      background-color: $pink
      background-image: url('../img/pajaro2.svg')
      background-position: 110% center
      background-repeat: repeat-y
      background-size: 130px 130px




  //-------------------------------- orange
  &--orange
    border: 15px solid $orange
    h3
      color: $orange    
    .Portfolio__image
      background-color: $orange
      background-image: url('../img/pajaro3.svg')
      background-position: -10% center
      background-repeat: repeat-y
      background-size: 130px 130px






  //-------------------------------- green
  &--green
    border: 15px solid $green
    h3
      color: $green    
    .Portfolio__image
      background-color: $green
      background-image: url('../img/pajaro2.svg')
      background-position: 110% center
      background-repeat: repeat-y
      background-size: 130px 130px






//- About
.About
  background-image: url('../img/overlay-yellow.png'), url('../img/aboutbg.jpg')
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  height: 100vh
  
  .grid-flex-container
    align-items: flex-end
    
  
  h2
    color: $white
    line-height: 0.9
    width: 250px
  
  p
    color: $white
  
  form
    align-self: flex-end
    input[type="text"],
    input[type="email"],
    textarea
      background-color: transparent
      border: none
      border-bottom: 1px solid $white

  
::-webkit-input-placeholder
  color: rgba($white, 0.7)
:-ms-input-placeholder
  color: rgba($white, 0.7)
::-moz-placeholder
  color: rgba($white, 0.7)
  opacity: 1
:-moz-placeholder
  color: rgba($white, 0.7)
  opacity: 1