
//- Homepage Work
.Portfolio
  .grid-flex-cell
    min-height: 600px
  .Portfolio__image
    &--right
      order: 2
  
  &--blue, 
  &--pink,
  &--orange,
  &--green
    border: none



.About
  height: 100vh


.Portfolio-page
  .container
    width: 70%