@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Varela+Round")
@import "yeticss"
@import "axis"

//- Variables
$blue           = #6dbfe2
$brown          = #272625
$gray           = #edeae6
$green          = #4db06d
$orange         = #ea7317
$pink           = #c7167f
$yellow         = #fec601

//- Fonts
$serif          = 'Libre Baskerville', serif
$sans-serif     = 'Varela Round', sans-serif

@import "./mixins/_animations"
@import "./mixins/_mobilenav"
normalize()







//- Mobile/Global Styles
@import "_mobile"

//- Tablet Styles
+above($breakpoint-tablet)
  @import "_tablet"

//- Desktop Styles
+above($breakpoint-desktop)
  @import '_desktop'



